<%= form_with model: organizational_unit, url: (organizational_unit.persisted? ? [:account, organizational_unit] : [:account, @team, :organizational_units]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :name, options: {autofocus: true} %>
    <%= render 'shared/fields/text_field', method: :level_name %>
    <%= render 'shared/fields/text_field', method: :level_index %>
    <%= render 'shared/fields/super_select', method: :kid_ids, html_options: {multiple: true},
      choices: @organizational_unit.valid_kids.map { |kid| [kid.label_string, kid.id] } %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, organizational_unit], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @team, :organizational_units], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
